#* @implicitly included *#
#* @vtlvariable name="grammar" type="com.github.oowekyala.jjtx.templates.GrammarBean" *#
#* @vtlvariable name="run" type="com.github.oowekyala.jjtx.templates.RunVBean" *#
#* @vtlvariable name="timestamp" type="java.util.Date" *#
#* @vtlvariable name="package" type="java.lang.String" *#
#* @vtlvariable name="simpleName" type="java.lang.String" *#
#* @vtlvariable name="node" type="com.github.oowekyala.jjtx.templates.NodeBean" *#
#* @vtlvariable name="global" type="kotlin.collections.Map" *#
