#evaluate( $!copyrightHeader )
#evaluate( $!packageDecl )

$!visibility enum ${thisClass.simpleName} {

    ## Sort to get a stable ordering, useful bc changes to type hierarchy shouldn't change
    ## the constants, which are inlined
    #set ( $stable = $sorter.sort($grammar.typeHierarchy, "name") )

    #foreach($node in $stable)
         #evaluate( $nodeIdTemplate )("${node.name}"),
    #end
    ;
    
    private final String myName;

    ${thisClass.simpleName}(String name){
        this.myName = name;
    }
    
    
    
    public String getNodeName() {
        return myName;
    }
    
}
