#evaluate( $!fileHeader )
#evaluate( $!packageDecl )

public interface ${thisClass.simpleName} {

    ## Sort to get a stable ordering, useful bc changes to type hierarchy shouldn't change
    ## the constants, which are inlined
    #set ( $stable = $sorter.sort($grammar.typeHierarchy, "name") )

    #foreach($node in $stable)
         public int JJT${node.name.toUpperCase()} = ${foreach.index};
    #end

    public String[] jjtNodeName = {
        #foreach($node in $stable)
            "${node.name}",

        #end
    };

}
