#evaluate( $!copyrightHeader )
#evaluate( $!packageDecl )

$!visibility $!modifiers interface ${thisClass.simpleName}#evaluate($!generics) {

    #foreach($node in $grammar.typeHierarchy)

        #evaluate($methodTemplate)

    #end

}
